:host {
  width: 100%;
  ::ng-deep {
    .p-menuitem-link {
      display: flex;
      gap: 0.5em;
    }
    .p-menubar-end {
      display: flex;
      align-items: center;
      gap: 0.25em;
    }

    .chip {
      padding: 0.3em 1em;
    }
  }

  h3 {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.logo {
  padding: 0 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-button {
  display: flex;
  gap: 0.5em;
  text-decoration: none;
}
