:host {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;

  ::ng-deep {
    .p-button {
      width: 25px;
      height: 25px;

      .p-button-icon {
        font-size: 0.8em;
      }
    }
  }
}

p {
  margin: 0;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dates {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25em;

  .date-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5em;
    flex-wrap: wrap;
  }
}
