<div class="heading">
  <p>{{ segmentData.name }}</p>
  @if (editMode) {
    <p-button
      (onClick)="saveClick()"
      icon=" pi pi-save"
      [rounded]="true"
      [text]="true"
    />
  } @else {
    <p-button
      (onClick)="editClick()"
      icon=" pi pi-pen-to-square"
      [rounded]="true"
      [text]="true"
    />
  }
</div>
<form [formGroup]="dateForm">
  <div class="dates">
    @if (segmentData.arrival) {
      <div class="date-wrapper">
        <span>Arrival: </span>
        @if (editMode) {
          <p-calendar
            inputId="calendar-12h"
            formControlName="arrival"
            [showTime]="true"
            hourFormat="12"
          />
        } @else {
          <span>{{ segmentData.arrival.time | date: "M/d/yy h:mm a" }}</span>
        }
      </div>
    }
    @if (segmentData.departure) {
      <div class="date-wrapper">
        <span>Departure: </span>
        @if (editMode) {
          <p-calendar
            inputId="calendar-12h"
            formControlName="departure"
            [showTime]="true"
            hourFormat="12"
          />
        } @else {
          <span>{{ segmentData.departure.time | date: "M/d/yy h:mm a" }}</span>
        }
      </div>
    }
  </div>
</form>
