:host {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;

  ::ng-deep {
    .p-button {
      width: 25px;
      height: 25px;

      .p-button-icon {
        font-size: 0.8em;
      }
    }

    .p-inputnumber {
      width: 100%;
      max-width: 250px;

      .p-inputnumber-input {
        width: 100%;
      }
    }
  }
}

p,
h4 {
  margin: 0;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prices {
  display: flex;
  gap: 0.5em;
  flex-direction: column;

  .price-data {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .carriage {
      font-weight: 500;
    }

    .price {
      text-align: end;
    }
  }
}

@media screen and (max-width: 768px) {
  .prices.price-data.price-input {
    grid-row: 2;
  }
}
