::ng-deep {
  .date-time {
    display: flex;
    flex-wrap: nowrap;
  }

  .date {
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .time {
    .p-calendar {
      width: 4.5em;
    }
    input {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

form {
  border: solid 0.5px gray;
  border-radius: 3px;
  max-width: 1100px;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 2;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-weight: 200;
}

label[for="to"] {
  grid-column: 3;
}

label[for="date"] {
  grid-column: 4 / span 3;
}

@media screen and (max-width: 900px) {
  form {
    max-width: 600px;
    grid-template-columns: auto 1.5em auto;
    justify-content: center;
  }

  label[for="from"] {
    grid-column: 1;
  }

  label[for="to"] {
    grid-column: 3;
  }

  label[for="date"] {
    grid-column: 1 / span 3;
    grid-row: 3;
  }

  .search {
    grid-column: 1 / span 3;
  }

  .pi {
    justify-self: center;
  }

  ::ng-deep {
    .date-time {
      grid-column: 1 / span 3;
      display: grid;
      grid-template-columns: 3fr 1fr;
    }

    .date .p-calendar,
    .time .p-calendar,
    .p-button {
      width: 100%;
    }

    .p-autocomplete {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  form {
    grid-template-columns: 1fr;
  }

  .pi {
    display: none;
  }

  label[for="from"],
  label[for="to"] {
    grid-column: 1;
  }

  label[for="date"] {
    grid-row: 5;
  }

  .from {
    grid-row: 2;
  }

  .to {
    grid-row: 4;
  }
}
