<form [formGroup]="searchForm">
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="From"
      matInput
      formControlName="from"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of options; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="To"
      matInput
      formControlName="to"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of options; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      formControlName="date"
      [matDatepickerFilter]="dateFilter"
      [matDatepicker]="picker"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>
