<form [formGroup]="searchForm" (ngSubmit)="search()">
  <mat-form-field>
    <input
      type="text"
      placeholder="From"
      matInput
      formControlName="from"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of options; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-icon>compare_arrows</mat-icon>
  <mat-form-field>
    <input
      type="text"
      placeholder="To"
      matInput
      formControlName="to"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of options; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      formControlName="date"
      [min]="initDateValue"
      [matDatepickerFilter]="dateFilter"
      matInput
      [matDatepicker]="picker"
    />
    @if (date.hasError("correctDate")) {
      <mat-error>Please select a valid date </mat-error>
    }
    <mat-datepicker-toggle matIconSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input
      formControlName="time"
      type="time"
      matInput
      value="00:00"
      formControlName="time"
    />
  </mat-form-field>
  <button mat-flat-button type="submit" [disabled]="searchForm.valid">
    Search
  </button>
</form>
