<a href="https://rs.school/" target="_blank"
  ><img class="rs-logo" src="rs-logo.svg" alt="RS logo"
/></a>
<div class="info footer-block">
  <p class="title">Navigate:</p>
  <a [routerLink]="['/']">Search tickets</a>
  <a [routerLink]="['/signin']">Sign in</a>
  <a [routerLink]="['/signup']">Sign up</a>
</div>
<div class="team footer-block">
  <p class="title">Code Daisies:</p>
  <div class="git-link">
    <i class="pi pi-github"></i>
    <a href="https://github.com/sunlaa" target="_blank"> sunlaa </a>
  </div>

  <div class="git-link">
    <i class="pi pi-github"></i>
    <a href="https://github.com/HNY-Badger" target="_blank"> HNY-Badger </a>
  </div>
</div>

<p class="copyright">&copy; 2024 "Code Daisies"</p>
