h2,
p {
  margin: 0;
}

.location {
  margin: 0 0 1em 0;
  display: flex;
  gap: 0.5em;

  p {
    font-weight: bold;
    font-size: 1.2em;
  }
}

.connections {
  display: flex;
  flex-direction: column;
}
