:host {
  padding: 2em 3em 4em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  border: solid 2px;
  border-color: var(--surface-border);
  border-radius: 1em;
  width: 100%;
  min-height: 20em;
}

.front,
.back {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  height: 35%;
  border-right: solid 1px;
  border-color: var(--surface-border);
}

.front .line {
  margin-right: 3em;
}

.seat-row {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 2em;
}

.right-seats,
.left-seats {
  flex-direction: column-reverse;
  display: flex;
  gap: 0.8em;
}

.seat {
  cursor: pointer;
  font-weight: 800;
  color: var(--primary-color-text);
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--surface-900);
  }

  &.occupied {
    pointer-events: none;
    background-color: var(--surface-300);
  }

  &.selected {
    background-color: var(--yellow-400);
  }
}
