:host {
  padding: 0.8em 1.5em 0.8em 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border: solid 2px;
  border-color: var(--surface-border);
  border-radius: 1em;
  width: fit-content;
  min-height: 15em;
}

.front,
.back {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  height: 35%;
  border-right: solid 1px;
  border-color: var(--surface-border);
}

.seat-row {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 1.5em;
}

.right-seats,
.left-seats {
  flex-direction: column-reverse;
  display: flex;
  gap: 0.5em;
}

.seat {
  cursor: pointer;
  font-weight: 800;
  color: var(--primary-color-text);
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-800);
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--blue-700);
  }

  &.occupied {
    pointer-events: none;
    background-color: var(--surface-300);
  }

  &.selected {
    background-color: var(--yellow-400);
  }
}

@media screen and (max-width: 900px) {
  :host {
    padding: 0.2em 0.5em 0.2em 1em;
    font-size: 0.9rem;
    gap: 0.3em;
  }

  .right-seats,
  .left-seats {
    gap: 0.3em;
  }
}
